<p class="benotif-title">
    <strong>
        Paramètres de notifications
     </strong>
</p>
<p class="benotif-block">
    <label for="soundNotification">
        Notifications sonores
    </label>
    <input type="checkbox" id="soundNotification" /><br />
    <label for="lightNotification">
        Notifications lumineuses
    </label>
    <input type="checkbox" id="lightNotification" /><br />
    <label for="desktopNotification">
        Notifications bureau
    </label>
    <input type="checkbox" id="desktopNotification" /><br />
    <input type="button" value="Sauvegarder" />
</p>